.user_container{
    background-color: #12002b;
    height: 35rem;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user_panorama{
    background-color: white;
}