.user_container{
    background-color: #12002b;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_panorama{
    width: 80%;
}

.account{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
    position: relative;
  }

  .account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .account-amount-description {
    margin: 0;
  }

  .account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  .account-content-wrapper {
    width: 100%;
    flex: 1;
  }

  .cta {
    position: absolute;
    width: auto;
    right: 20px;
    bottom: 40px;
  }


@media (max-width: 768px) {

    .account{
        width: 100%;
        height: 170px;
    }
    .account-amount-description{
      margin-bottom: 10px;
    }
    
    .cta {
        position: static;
        width: auto;
    }
}