.banner_photo{
    height: 25rem;
    background-image: url('/public/bank-tree.jpeg');
    background-position: 0 -150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.banner_text {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -100%);
    padding: 20px;    
    width: 350px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.banner_text p{
    font-size: 20px;
    width: 300px;
}

@media (max-width: 768px) {
    .banner_photo{
        background-position: 0 -30px;
        height: 220px;
    }
    .banner_text{
        width: 50%;
        transform: translate(-50%, -170%);
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
    }

    .subtitle{
        font-size: 1rem;
    }
    .banner_text p{
       font-size: 12px;
       width: auto;
    }

}