
.user_welcome{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.user_welcome h1{
    text-align: center;
}

button {
    background-color: #00bc77;
    color: white;
    padding: 10px;
}

.input_editName input{
   padding: 10px;
   margin: 10px;
}

.button_editName button{
    margin: 10px;
    width: 6rem;
}

@media (max-width: 768px)  {
    .input_editName input{
    width: 7rem ;  
    }
}