
.headerUser {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2c3e50;
 }
 .profile_header{
     display: flex;
 }
.profile_headerLogo {
    display: flex;
    width: 350px;
}
.header__logo img {
    width:50%;
    margin-left: 20px;
}
.sign-out{
    width:100%;
}

.link_SignOut{
    width: 150px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    margin-right: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}


.profile_headerLogo{
    display: flex;
    justify-content:space-around;
    padding: 10px 20px;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}


@media (max-width: 768px) {
    .headerUser{
        display: flex;
    } 
    .header__logo{
        flex:1;
    }
    .header__logo img{
    width: 100px;
    }

    .profile_headerLogo {
    font-size: 12px;
    flex:0.5;
    justify-content: space-evenly;

    }
    .sign-out{
    margin-right: 150px;
    }

    .link_SignOut{
    width: 70px;
    margin: 0;
    font-size: 12px;
    }
}