
.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width:50%;
    margin-left: 20px;
}

.link_SignIn{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;

}




@media (max-width: 768px) {
 .header{
    width: 100%;
}
.sign-in {
    width:80%;
    font-size: 0.8rem;
    padding:0;
    font-weight: normal;
}


}
    /* .hero {
      height: 400px;
      background-position: 0% 33%;
    }
  
    .hero-content {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }
  
    .hero-content .subtitle {
      font-size: 1.5rem;
    }
  
    .hero-content .text {
      font-size: 1.2rem;
    }
  }
  
  .features {
    display: flex;
    flex-direction: column;
  }
  

 */
